<a href="https://colab.research.google.com/github/Zennn01/Zennn/blob/main/KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [13]:
df = pd.read_csv('Mall_Customers.csv')

In [14]:
X = df[['Annual Income (k$)', 'Spending Score (1-100)']]

In [15]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [16]:

kmeans = KMeans(n_clusters=5, init='k-means++', random_state=42)
df['Cluster'] = kmeans.fit_predict(X_scaled)

In [17]:
centroids = scaler.inverse_transform(kmeans.cluster_centers_)

In [18]:
cluster_labels = []
for income, score in centroids:
    if income > 70 and score > 60:
        cluster_labels.append("üí∞ Penghasilan & belanja tinggi")
    elif income > 70 and score < 40:
        cluster_labels.append("‚ùì Penghasilan tinggi, belanja rendah")
    elif income < 40 and score > 60:
        cluster_labels.append("üì£ Penghasilan rendah, belanja tinggi")
    elif income < 40 and score < 40:
        cluster_labels.append("üßç Penghasilan & belanja rendah")
    else:
        cluster_labels.append("‚öñÔ∏è Rata-rata")

In [19]:
label_mapping = dict(zip(range(5), cluster_labels))
df['Deskripsi Cluster'] = df['Cluster'].map(label_mapping)

In [20]:
hasil = df[['CustomerID', 'Gender', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)', 'Cluster', 'Deskripsi Cluster']]
hasil.groupby('Deskripsi Cluster').head(10).sort_values('Cluster').reset_index(drop=True)

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Cluster,Deskripsi Cluster
0,50,Female,31,40,42,0,‚öñÔ∏è Rata-rata
1,51,Female,49,42,52,0,‚öñÔ∏è Rata-rata
2,52,Male,33,42,60,0,‚öñÔ∏è Rata-rata
3,53,Female,31,43,54,0,‚öñÔ∏è Rata-rata
4,44,Female,31,39,61,0,‚öñÔ∏è Rata-rata
5,47,Female,50,40,55,0,‚öñÔ∏è Rata-rata
6,55,Female,50,43,45,0,‚öñÔ∏è Rata-rata
7,54,Male,59,43,60,0,‚öñÔ∏è Rata-rata
8,48,Female,27,40,47,0,‚öñÔ∏è Rata-rata
9,49,Female,29,40,42,0,‚öñÔ∏è Rata-rata
10,124,Male,39,69,91,1,üí∞ Penghasilan & belanja tinggi
11,134,Female,31,72,71,1,üí∞ Penghasilan & belanja tinggi
12,132,Male,39,71,75,1,üí∞ Penghasilan & belanja tinggi
13,130,Male,38,71,75,1,üí∞ Penghasilan & belanja tinggi
14,128,Male,40,71,95,1,üí∞ Penghasilan & belanja tinggi
15,126,Female,31,70,77,1,üí∞ Penghasilan & belanja tinggi
16,136,Female,29,73,88,1,üí∞ Penghasilan & belanja tinggi
17,138,Male,32,73,73,1,üí∞ Penghasilan & belanja tinggi
18,142,Male,32,75,93,1,üí∞ Penghasilan & belanja tinggi
19,140,Female,35,74,72,1,üí∞ Penghasilan & belanja tinggi
20,18,Male,20,21,66,2,"üì£ Penghasilan rendah, belanja tinggi"
21,4,Female,23,16,77,2,"üì£ Penghasilan rendah, belanja tinggi"
22,8,Female,23,18,94,2,"üì£ Penghasilan rendah, belanja tinggi"
23,20,Female,35,23,98,2,"üì£ Penghasilan rendah, belanja tinggi"
24,10,Female,30,19,72,2,"üì£ Penghasilan rendah, belanja tinggi"
25,12,Female,35,19,99,2,"üì£ Penghasilan rendah, belanja tinggi"
26,16,Male,22,20,79,2,"üì£ Penghasilan rendah, belanja tinggi"
27,2,Male,21,15,81,2,"üì£ Penghasilan rendah, belanja tinggi"
28,14,Female,24,20,77,2,"üì£ Penghasilan rendah, belanja tinggi"
29,6,Female,22,17,76,2,"üì£ Penghasilan rendah, belanja tinggi"
30,135,Male,20,73,5,3,"‚ùì Penghasilan tinggi, belanja rendah"
31,125,Female,23,70,29,3,"‚ùì Penghasilan tinggi, belanja rendah"
32,147,Male,48,77,36,3,"‚ùì Penghasilan tinggi, belanja rendah"
33,149,Female,34,78,22,3,"‚ùì Penghasilan tinggi, belanja rendah"
34,129,Male,59,71,11,3,"‚ùì Penghasilan tinggi, belanja rendah"
35,131,Male,47,71,9,3,"‚ùì Penghasilan tinggi, belanja rendah"
36,139,Male,19,74,10,3,"‚ùì Penghasilan tinggi, belanja rendah"
37,137,Female,44,73,7,3,"‚ùì Penghasilan tinggi, belanja rendah"
38,141,Female,57,75,5,3,"‚ùì Penghasilan tinggi, belanja rendah"
39,145,Male,25,77,12,3,"‚ùì Penghasilan tinggi, belanja rendah"
40,7,Female,35,18,6,4,üßç Penghasilan & belanja rendah
41,5,Female,31,17,40,4,üßç Penghasilan & belanja rendah
42,1,Male,19,15,39,4,üßç Penghasilan & belanja rendah
43,3,Female,20,16,6,4,üßç Penghasilan & belanja rendah
44,11,Male,67,19,14,4,üßç Penghasilan & belanja rendah
45,9,Male,64,19,3,4,üßç Penghasilan & belanja rendah
46,13,Female,58,20,15,4,üßç Penghasilan & belanja rendah
47,15,Male,37,20,13,4,üßç Penghasilan & belanja rendah
48,19,Male,52,23,29,4,üßç Penghasilan & belanja rendah
49,17,Female,35,21,35,4,üßç Penghasilan & belanja rendah

In [21]:
df.to_csv('Hasil_KMeans_Mall_Customers.csv', index=False)

# Bagian Baru